/* Reset and global styles */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.5;
}
