:root {
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Oswald:wght@200..700&display=swap');
  --color-bg-main: #fcfbf4;
  --color-primary: #548772;
  --color-primary-dark: #01311d;
  --color-accent: #d99201;
  --color-accent-hover: #58761b;
  --color-text-dark: #01311d;
    --color-text-black: #0f0f0f;

  --color-text-light: #fafafa;
  --color-border-light: rgba(0, 0, 0, 0.08);
  --color-shadow-soft: rgba(0, 0, 0, 0.1);

  --sidebar-collapsed: 0px; 
  --sidebar-open: 260px;
  --transition: 0.28s ease;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
overflow: hidden;
font-family: "Oswald", sans-serif;
}


.header-card {
  border-radius: 10px;
  padding: 1rem 2rem;
    margin-left: 2rem;

}

.header-card h1 {
  font-size: 3rem;
  color: #01311d;
  font-stretch: condensed;
}

.header-card .subtitle {
  margin: 0;
  color: #01311d;
  font-size: 0.98rem;
  font-family: "oswald", sans-serif;
}

.header-divider {
  border: none;
  border-top: 1px solid #8e8e8e;
  margin: 0.9rem 0;
}